.App {
  text-align: center;
  /* display: flex;
  flex-direction: column; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

footer {
  flex: 1;
}

.content-div {
  display: inline-block;
  height: 600px;
  width: 400px;
  border: 1px solid black;
  margin: 3%;
  /*-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  /*-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  /* animation-name: example;
  animation-duration: 4s; */
  -webkit-transition: width 2s; /* Safari prior 6.1 */
  transition: width 2s;
}

/********* ANIMATIONS ***********/

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {background-color: white;}
  to {background-color: green;}
}

/* Standard syntax */
@keyframes example {
  from {background-color: white;}
  to {background-color: green;}
}

.content-div:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: 2s;
}

/* .scroll-container:nth-child(1) {transition-timing-function: linear;}
.scroll-container:nth-child(2) {transition-timing-function: ease;}
.scroll-container:nth-child(3) {transition-timing-function: ease-in;}
.scroll-container:nth-child(4) {transition-timing-function: ease-out;}
.scroll-container:nth-child(5) {transition-timing-function: ease-in-out;} */